$colorOne: #7a934f;
$colorTwo: #b5c775;
$colorThree: #6b8c9f;
$colorFour: #4a6b7e;
$colorFive: #bc9876;
$colorSix: #143115;
$colorSeven: #333333;
$colorEight: #133215;
$colorNine: #4d4d4d;
$colorTen: #b5c775;
$colorEleven: #999999;
$colorTwelve: #575756;
$colorThirteen: #2a2a2a;
$colorFourteen: #dadada;
$colorFifteen: #6c7f6d;
$colorSixteen: #fce8d5;
$colorSeventeen: #adc896;
$colorEighteen: #1e5799;
$colorNineteen: #dfdfc2;
$colorTwenty: #808080;
$colorTwentyOne: #d75454;
